
.cart-h-box{
  padding: 1em 1em;
  font-size: .9em;
  border-bottom: 1px solid #eee;
}
.cart-h-box:last-child{
  border-bottom: none;
}
.cart-h-box-container{

}
.cart-h-box-holder{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
.cart-h-box img{
  width: 100px;
  height: auto;
}
.cart-h-box .data{
  margin-left: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex: 1;
}
.cart-h-box .data .title{
  color: rgba(3,27,78,.9);
}
.cart-h-box .data-holder{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.cart-h-box .sub-data{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cart-h-box .sub-data .sub{
  margin: 1em 0;
  position: relative;
  padding: 0 1.5em;
}
.cart-h-box .sub-data .sub:first-child{
  padding-left: 0;
}
.cart-h-box .sub-data .sub:not(:last-child):after{
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  border: 1px solid #eee;
  right: 0;
}
.cart-h-box .sub-data .sub .tt{
  color: #7a7a79;
}
.cart-h-box .sub-data .sub .amt{
  white-space: nowrap;
}
.cart-h-box .data .claim_amt{
  font-weight: 500;
  font-size: 1.5em;
  color: #120078;
}
.cart-h-box .claim-btn-hld{
  margin-left: auto;
}
.cart-h-box .claim-btn{
  padding: 5px 10px;
  background: #fff;
  color: #0069ff;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 10px 0;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #0069ff;
}
.cart-h-box .claim-btn:active{
  opacity: .6;
}
.cart-h-box .claimed{
  font-weight: 500;
  color: green;
  text-transform: uppercase;
}
.cart-h-box .note{
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
}
.cart-h-box .note a{
  color: #0069ff;
}
.cart-h-box .note.error{
  color: #e6525a;
  background-color: rgba(230,82,90,0.15);
}
.cart-h-box .note.success{
  color: #468847;
  background-color: #dff0d8;
}
.cart-h-box .note.warning{
  color: #c09853;
  background-color: #fcf8e3;
}
.cart-h-box .note.info{
  color: #3a87ad;
  background-color: #d9edf7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cart-h-box{
    padding: 1em 0;
  }
  .cart-h-box .data-holder{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .cart-h-box .sub-data{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cart-h-box .sub-data .sub{
    padding-left: 0;
    margin: 5px 0;
  }
  .cart-h-box .sub-data .sub:after{
    display: none !important;
    border: none;
  }
  .cart-h-box .claim-btn-hld{
    margin-left: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 1040px) {

}
