.error-page{
  background: #fff;
  padding-bottom: 92px;
  overflow: auto;
  min-height:calc(100vh - 3.3em);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.error-page img{
  height: 500px;
  max-width: 90%;
  object-fit: contain;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 1040px) {

}
