.edit-control-ticket{
  background: #fff;
  width:100%;
}
.edit-control-ticket header{
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  background: #eee;
}
.edit-control-ticket-container{
  padding: 1em;
  padding-bottom: 3em;
  font-size: 0.9em;
}
.edit-control-ticket-container input[type='text']{
  width: 10ch;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: .4rem .6rem;
  display: inline-block;
  position: relative;
  margin: 10px;
}
.edit-control-ticket textarea{
  width: 95%;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: .4rem .6rem;
  display: inline-block;
  position: relative;
  font-family: 'l';
  font-size: .9em;
  margin: 10px;
}
.edit-control-ticket select{
  height: 20px;
  margin: 10px;
}
.edit-control-ticket-container p{
  margin: 10px 0;
}
