.transactions-control{
  padding-bottom: 92px;
  background: rgb(236, 239, 242);
  min-height: 100vh;
}
.transactions-control input{
  background: #fff;
}
.transactions-control .amount{
  text-align: right;
  padding-right: 1em;
}
.transactions-control-show-head{
  display: none;
  height: 60vh;
  background-image: url(https://ssl.gstatic.com/support/content/images/static/homepage_header_background.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.transactions-control-container{
  width: 100%;
}
.transactions-control-holder{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.transactions-control .search{
  margin: 1em 0;
  padding: 3px 5px;
}

.winner-control-pagination{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 1em;
  -ms-align-items: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .transactions-control-holder{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 1040px) {

}
