<div class="password-reset-box">
	<div class="head">
		Reset Password {{data.otpSent}}
	</div>
	<div class="container">
		<div ng-hide="data.otpSent" class="enter-mobile">
			<div>OTP will be sent to your Mobile Number.</div>
			<form action="">
				<div><input type="text" placeholder="Mobile Number" ng-model="phone_number" required></div>
				<div><input type="submit" value="Send OTP" ng-click="sendOTP($event)"></div>
			</form>
		</div>
		<div ng-show="data.otpSent" class="enter-otp">
			<div>Enter OTP sent to <b>{{phone_number}}</b> and your new Password.</div>
			<form action="">
				<div><input type="text" placeholder="OTP" ng-model="otp" required></div>
				<div><input type="password" placeholder="Password" ng-model="password" required></div>
				<div><input ng-class="{'error': password_error}" type="password" placeholder="Confirm Password" ng-model="confirm_password" required></div>
				<div><input  type="submit" value="Reset my Password" ng-click="resetPassword($event)"></div>
			</form>
		</div>
	</div>
</div>
