.password-reset-box{

}

.password-reset-box > .head{
  padding: 1em;
  background: #eee;
  font-weight: 500;
}
.password-reset-box >.container{
  padding: 1em;
  text-align: center;
  padding-bottom: 2em;
}
.password-reset-box  input[type='text'],
.password-reset-box  input[type='password']{
  position: relative;
  width: 30ch;
  color: #404040;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.15);
  margin: 20px auto;
  margin-bottom: 0;
  padding: 15px;
  border-radius: 3px;
  font-size: 18px;
}
.password-reset-box  input[type='password'].error{
  border: 1px solid red;
}
.password-reset-box input[type='submit']{
    text-align: center;
    width: 26ch;
    color: #fff!important;
    background: #33adff;
    border: 0;
    font-size: 17px;
    padding: 15px;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none!important;
    margin-top: 20px;
}
.password-reset-box input[type='submit']:hover{
    background: #09f;
}
