.filter-box{

}
.filter-box + .filter-box{
  margin-top: 1em;
}
.filter-box-head{
  font-weight: 500;
  color: rgb(60,73,90);
  margin-bottom: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.filter-box-clear{
  font-size: .85em;
  font-weight: 400;
  margin-left: auto;
  cursor: pointer;
  color: #666;
}
.filter-box-clear:hover{
  color: #222;
}
.filter-box .tag-input{
  padding: 0 12px;
  height: 38px;
  min-width: 5em;
}
