.edit-bid{
  background: #fff;
  width:100%;
}
.edit-bid header{
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
  background: #eee;
}
.edit-bid-container{
  padding: 1em;
  padding-bottom: 3em;
  font-size: 0.9em;
}
.edit-bid-container input[type='text']{
  width: 10ch;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: .4rem .6rem;
  display: inline-block;
  position: relative;
  margin: 10px;
}
.edit-bid-container input[type='checkbox']{
  background-color: initial;
  cursor: default;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}
.edit-bid-container p{
  margin: 10px 0;
}
