
table.table-two{
  font-size: 13px;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-radius: 5px;
  color: #666;
  width: 97%;
  text-align: left;
  margin: 0 auto;
  background: #fff;
}
.table-two thead tr{
  text-transform: capitalize;
  color: #1d2129;
  background: #f5f7f8;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
  border-color: #e7e7e7;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
.table-two thead tr td{
  min-height: 48px;
  padding: 8px 8px;
  cursor: pointer;
}
.table-two tr{
  border: 1px solid #eee;
}
.table-two tr td{
  vertical-align:top;
  padding: 3px;
  border: 1px solid rgb(211, 211, 211);
}
.table-two img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
}
.table-two a{
  color: #120078;
  margin: 0 1em;
}
