.profile-cart{
  padding: 1em 0;
}
.profile-cart-container{

}
.profile-cart-holder{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.profile-cart-cart-holder{
  width: auto;
  border-radius: 5px;
  background: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .profile-cart-cart-holder{
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 1040px) {

}
