<div class="items-control">
  <div class="items-control-show-head">

  </div>
  <div class="items-control-container">
    <div class="items-control-holder">

      <div class="items-ctrl-tbl-ctrl">
        Search: <input class="search" ng-model="$ctrl.query" />
        <span class="button-one" ng-click="createItem()">CREATE ITEM</span>
      </div>
      <table class="table-two">
        <thead>
          <tr>
            <td width="15px">id</td>
            <td width="35px">image</td>
            <td >Product Name</td>
            <td width="12ch">sale <br>price</td>
            <td width="5ch">total</td>
            <td width="5ch">Completed</td>
            <td width="5ch">Delivered</td>
            <td width="3ch">live</td>
            <td width="3ch">upcoming</td>
            <td>Create Bid</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | filter:$ctrl.query | orderBy:$ctrl.orderProp:$ctrl.reverse">
            <td>{{item.id}}</td>
            <td ng-click="editItem(item)"><img src="{{item.primary_images['50x50']}}" alt=""></td>
            <td><a href="{{item.control_url}}">{{item.title}}</a></td>
            <td class="amount">{{item.sale_rate}}</td>
            <td title="total">{{item.total_bids_count}}</td>
            <td title="completed">{{item.completed_bids_count}}</td>
            <td title="delivered">{{item.delivered_count}}</td>
            <td title="live">{{item.live_count}}</td>
            <td title="upcoming">{{item.upcoming_count}}</td>
            <td><a href="" ng-click="createBid(item)">Create Bid</a></td>
          </tr>
        </tbody>
      </table>
      <item-control-h-box ng-repeat="item in itemf" item=item></item-control-h-box>
    </div>
  </div>
</div>
