{% extends '_base_.html' %}
{% load static compress %}
{% block css %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/log-reg.css'%}">
{% endcompress %}
{% endblock %}
{% block content %}

{# include "includes/main-nav.html" with active_tab='home' addClass="start" #}
<div class='log-reg'>
	<div class='log-reg-container'>
		<div class='log-reg-show'>
			<div class='just-logo'>
				<img src="/static/favicons/flagged/flagged_102x102.png" width="100">
			</div>
			<div class='just-base'>Trusted by the world’s most innovative businesses – big and small.</div>
      {% block log-reg-show %}

    	{% endblock %}
		</div>
		<div class='log-reg-pane'>
      {% block log-reg-pane %}
    	{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
