{% extends "./log-reg-base.html" %}
{% load app_tags %}
{% block log-reg-show %}
{% endblock %}
{% block log-reg-pane %}

<form class='log-reg-form' method="post" action="">
  <a href="{% url 'index' %}">
		<img src="/static/favicons/apple-icon-60x60.png">
	</a>
	<legend>
		Forgot Password!
	</legend>
	{% csrf_token %}
	{{ form.email|html_placeholder:"Email Address" }}
	<input type="submit" value="Reset Password" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>
<p class='log-reg-foot'>Don't have an account? <a href="{%url 'signup'%}">Sign Up</a></p>
{% endblock %}
