{% extends "base_.html" %}
{% load compress thumbnail %}
{% block content %}
<style>
  body{
    background-color:#fff;
  }
  .pwdnflx{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10vh;
  }
  .cont{
    background-color:#f9fcff;
    padding:20px 20px;
    border: 1px solid #d5e2f1;
    border-radius:3px;
  }
  .cont p{
    text-align:center;
  }
  .cont p:first-child{
    color:#676767;
    font-weight:500;
    font-family: proxima-nova,"proxima nova","helvetica neue",helvetica,arial,sans-serif;
    font-size:0.96em;
    letter-spacing: 0.2px;
    font-style:normal;
    margin:0;
  }
</style>
{% include "includes/nav.html" with active_tab='home' addClass="start" %}

<div class='pwdnflx'>
  <div class='cont'>
    <p>If the email you specified exists in our system, we've sent you a One Time Link to reset your password.</p>
  </div>
</div>

{% endblock %}
