{% autoescape off %}
---------------------------------------------------------------------
app Password Reset
---------------------------------------------------------------------

Dear User,

To reset the password to your app account, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
If the above link is not clickable, please copy the whole link and
paste it in your browser.

For your information:
   User Email            : {{ user.get_username }}
   Time of Request (UTC) : {% now "jS F Y H:i" %}
   {#IP Address          : 47.8.133.94#}

 Should you have any questions or concerns, please contact us at  {{ protocol }}://support.{{ domain }}

 Sincerely,
 app Team
 {{ protocol }}://{{ domain }}

 If you didn't request a password reset or you feel you've received this message in error, please call our 24/7 support team right away at +91 9676768131. If you take no action, don't worry – nobody will be able to change your password without access to this email.
{% endautoescape %}
