.heavy-alert{
  position: relative;
  font-family: 'l';
  background: #0069ff;
  color: #fff;
  line-height: 1.5;
}
.heavy-alert .heavy-alert-close::after{
  position: absolute;
  top: 20px;
  right:20px;
  content: '\f14b';
  cursor: pointer;
  display: block;
  color: #fff;
  font-family:'Flaticon';
}
.heavy-alert-container{
  padding: 20px 2.5rem 20px 2.5rem;
}
.heavy-alert-container .notification-status-date{
  font-size: 12px;
  opacity: .6;
  font-weight: 500;
}
.heavy-alert-container .notification-status-title{
  font-size: 20px;
  font-weight: 500;
}
.heavy-alert-container .notification-status{
  margin-top: 4px;
}
.heavy-alert-container .notification-status a{
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}



@media only screen and (max-width: 600px) {
  .heavy-alert-container {
    padding: 10px 1.25rem 10px 1.25rem;
  }
}
