<div class="company-sub">
  <div class="company-sub-show-head">

  </div>
  <div class="company-sub-container">
    <breadcrumb options=breadcrumbOptions></breadcrumb>
    <company-about ng-if="submenu.submenu_title=='about'"></company-about>
    <company-careers ng-if="submenu.submenu_title=='careers'"></company-careers>
    <company-events ng-if="submenu.submenu_title=='events'"></company-events>
    <company-leadership ng-if="submenu.submenu_title=='leadership'"></company-leadership>
    <company-legal-and-security ng-if="submenu.submenu_title=='legal-and-security'"></company-legal-and-security>
    <company-press ng-if="submenu.submenu_title=='press'"></company-press>
    <company-referral-program ng-if="submenu.submenu_title=='referral-program'"></company-referral-program>
    <div class="company-sub-holder">

    </div>
  </div>
</div>
